name: ✅Build Docs Status Check
run-name: ✅Build Docs Status Check


defaults:
  run:
    shell: pwsh


on:
  pull_request:
    branches: main


jobs:
  build_status_check:
    name: Build Status Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node (${{ vars.NODE_VERSION }})
      uses: actions/setup-node@v4
      with:
        node-version: ${{ vars.NODE_VERSION }}

    - name: Setup Deno (${{ vars.DENO_VERSION }})
      uses: denoland/setup-deno@v1
      with:
        deno-version: ${{ vars.DENO_VERSION }}

    - name: Setup PNPM (${{ vars.PNPM_VERSION }})
      uses: pnpm/action-setup@v2
      with:
        version: ${{ vars.PNPM_VERSION }}

    - name: Install Dependencies (pnpm)
      run: pnpm install

    - name: Build
      run: docusaurus build
