name: ✅Build Docs Status Check (FORK)
run-name: ✅Build Docs Status Check (FORK)


defaults:
  run:
    shell: pwsh


on:
  pull_request_target:
    branches: [main]


jobs:
  build_status_check_fork:
    name: Build Status Check (FORK)
    runs-on: ubuntu-latest
    steps:
    - name: Detect Fork
      id: detect_fork
      run: |
        if ("${{ github.event.pull_request.head.repo.full_name }}" -ne "${{ github.event.pull_request.base.repo. full_name }}") {
          echo "is_fork=true" >> $env:GITHUB_OUTPUT;
        } else {
          echo "is_fork=false" >> $env:GITHUB_OUTPUT;
        }

    - name: Checkout Repo
      uses: actions/checkout@v5
      if: steps.detect_fork.outputs.is_fork == 'true'

    - name: Setup Node (18.14.2)
      if: steps.detect_fork.outputs.is_fork == 'true'
      uses: actions/setup-node@v6
      with:
        node-version: 24.11.1

    - name: Setup Deno (v2.1.x)
      if: steps.detect_fork.outputs.is_fork == 'true'
      uses: denoland/setup-deno@v2
      with:
        deno-version: v2.1.x

    - name: Setup PNPM (10.2.1)
      if: steps.detect_fork.outputs.is_fork == 'true'
      uses: pnpm/action-setup@v4
      with:
        version: 10.22.0

    - name: Install Dependencies (pnpm)
      if: steps.detect_fork.outputs.is_fork == 'true'
      run: pnpm install;

    - name: Build
      if: steps.detect_fork.outputs.is_fork == 'true'
      run: pnpm exec docusaurus build;
