name: ✅Build Status Check
run-name: ✅Build Status Check (${{ github.base_ref }} branch)


defaults:
  run:
    shell: pwsh


on:
  pull_request_target:
    branches: main


jobs:
  build_status_check:
    name: Build Status Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node (${{ vars.NODE_VERSION }})
      uses: actions/setup-node@v4
      with:
        node-version: ${{ vars.NODE_VERSION }}

    - name: Setup Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: ${{ vars.DENO_VERSION }}

    - name: Setup PNPM (${{ vars.PNPM_VERSION }})
      uses: pnpm/action-setup@v2
      with:
        version: ${{ vars.PNPM_VERSION }}

    - name: Install Dependencies (pnpm)
      run: pnpm install

    - name: Disable Testing Env
      working-directory: ${{ github.workspace }}/.github/cicd
      run: deno run --allow-read --allow-write "${{ github.workspace }}\.github\cicd\manual-testing\testing-env.ts" "disable";
    
    - name: Build
      run: pnpm build


  tutorial_projects_build_status_check:
    name: Tutorial Projects Build Status Check
    uses: ./.github/workflows/build-csharp-solution.yml
    with:
      build-config: Release
