name: ✅CICD Build Status Check
run-name: ✅CICD Build Status Check (${{ github.base_ref }} branch)


defaults:
  run:
    shell: pwsh


on:
  pull_request_target:
    branches: main


jobs:
  cicd_build_status_check:
    name: CICD Build Status Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: ${{ github.repository }}
        ref: ${{ github.ref }}

    - name: Setup Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: ${{ vars.DENO_VERSION }}

    - name: Run Build
      working-directory: ${{ github.workspace }}/.github/cicd
      run: |
        deno run --allow-read --allow-run "./.github/cicd/scripts/deno-check.ts";
