name: ✅CICD Lint Status Check
run-name: ✅CICD Lint Status Check


defaults:
  run:
    shell: pwsh


on:
  pull_request_target:
    branches: main


jobs:
  cicd_lint_status_check:
    name: CICD Lint Status Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Setup Deno (${{ vars.DENO_VERSION }})
      uses: denoland/setup-deno@v1
      with:
        deno-version: ${{ vars.DENO_VERSION }}

    - name: Run Lint
      run: deno lint ./.github/cicd;
