name: ✅CICD Lint Status Check (FORK)
run-name: ✅CICD Lint Status Check (FORK)

defaults:
  run:
    shell: pwsh

on:
  pull_request:
    branches: [main]

jobs:
  cicd_lint_status_check_fork:
    name: CICD Lint Status Check (FORK)
    runs-on: ubuntu-latest
    steps:
      - name: Detect Fork
        id: detect_fork
        run: |
          if ("${{ github.event.pull_request.head.repo.full_name }}" -ne "${{ github.event.pull_request.base.repo. full_name }}") {
            echo "is_fork=true" >> $env:GITHUB_OUTPUT;
          } else {
            echo "is_fork=false" >> $env:GITHUB_OUTPUT;
          }

      - name: Checkout Repo
        uses: actions/checkout@v5
        if: steps.detect_fork.outputs.is_fork == 'true'

      - name: Setup Deno (v2.1.x)
        if: steps.detect_fork.outputs.is_fork == 'true'
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.1.x

      - name: Run Lint
        if: steps.detect_fork.outputs.is_fork == 'true'
        run: deno lint "./.github/cicd/**/*.ts";
